body {
    font-size: 18px;
}

.dg.main{
    font-size: 18px !important;
    width: 360px;
}
.closebutton {
    width: 360px;
}
.dg li.title {
    font-size: 18px !important;
    font-weight: bold;
}

.dg li.cr {
    font-size: 14px;
}
.dg li input {
    font-size: 16px;
}

#instructions {
    width: 280px;
}