.dg.main{
    font-size: 18px !important;
    width: 356px;
}
.closebutton { width: 360px; }

.dg li.title {
    font-size: 18px !important;
    font-weight: bold;
}

.dg li input { font-size: 16px; }
.dg li.cr { font-size: 14px; }
.dg li.cr.function { 
    font-size: 16px; 
    font-weight: bold;
}

#instructions {
    font-size: 24px;
    width: 540px; 
}

.big-gui {
    font-size: 28px;
}
.big-gui-outer {
    height: 32px;
}

#instructions #save-feedback {
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    color: rgb(60, 60, 60);
    text-align: center;
}

#index-link { font-weight: bold }