body {
    font-size: 18px;
}

.dg.main{
    font-size: 18px !important;
    width: 360px;
}
.closebutton {
    width: 360px;
}
.dg li.title {
    font-size: 18px !important;
}

#instructions {
    width: 280px;
}